 body {
     width: 70%;
     margin: 0 auto;
 }
 
 section,
 aside {
     float: left;
     padding: 10px 10px 10px 5px;
 }
 
 section {
     width: 68%;
     margin-right: 3px;
     border-right: 2px solid #ccc;
 }
 
 aside {
     width: 28%;
 }