.block {
    /* background-color: #000000; */
    border: 2px solid #000000;
}
.border {
	border: 2px solid #000000;
}
/* Top area */
header {
    height: 222px;
}
.topHeader, .bottomFooterTop {
    background-color: #f3f3f3;
}
/* End Top area */
/* Middle area */
    	.leftColumn, .rightColumn {
    		margin: 25px 0px;
    	}
    	.leftColumn div {
    		margin: 15px 0px;
    		height: 125px;
    	}
    	.rightColumn div {
    		margin: 15px 0px;
    	}
    	.rightColumn div:first-child {
    		height: 200px;
    	}
    	.rightColumn div:last-child {
    		height: 600px;
    	}
    	.bottomFooterTop {
    		height: 318px;
    	}
    	.bottomFooterMid {
    		height: 277px;
    		background-color: #e2e2e2;
    	}
    	.bottomFooterBottom {
    		height: 59px;
    		background-color: #000000;
    	}