.block {
    /* background-color: #000000; */
    
    border: 2px solid #000000;
}
.border {
    border: 2px solid #000000;
}
/* Top area */

header {
    height: 222px;
}
.topHeader, .bottomFooterTop {
    background-color: #f3f3f3;
}
.topHeader h1 {
    text-align: center;
    /* height: 192px;
        line-height: 192px; */
    
    position: relative;
    top: 43px;
    font-size: 29px;
}
#connection {
    list-style-type: none;
    height: 26px;
    margin: 0px;
    padding: 0px;
}
#connection li {
    background-image: url("/img/topicons.gif");
    height: 26px;
    width: 29px;
    float: left;
}
#connection li.item1 {
    background-position: 0 0;
}
#connection li.item2 {
    background-position: -29px 0;
}
#connection li.item3 {
    background-position: -63px 0;
}
#connection li.item4 {
    background-position: -94px 0;
}
header div:first-child {
    padding-top: 4px;
    height: 30px;
}
/* End Top area */
/* Middle area */

.leftColumn, .rightColumn {
    margin: 25px 0px;
}
.leftColumn div {
    margin: 15px 0px;
}
.rightColumn div {
    margin: 15px 0px;
}
.rightColumn div:first-child {
    height: 200px;
}
.rightColumn div:last-child {
    height: 600px;
}
.bottomFooterTop {
    height: 318px;
}
.bottomFooterMid {
    height: 277px;
    background-color: #e2e2e2;
}
.bottomFooterBottom {
    height: 59px;
    background-color: #000000;
}
